* {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav > ul {
  list-style: none;
}
ul > li {
  display: inline;
}

li > a {
  color: white;
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
}

table {
  max-width: 1100px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

th {
  color: white;
  background-color: #282c34;
}

tr:nth-child(even) {
  background: #e5e5e5;
}

td {
  vertical-align: top;
  padding: 1em;
}

td > img {
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(640) / attr(480);
}

.emoji {
  font-size: 5rem;
  display: inline-block;
  animation: spin 15s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.page-link {
  color: #282c34;
  text-align: center;
  border: 1px solid #282c34;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0 1em;
}
